body {
    font-family: Arial, sans-serif;
    background-color: #cdf2da;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 40px auto;
}
.header h1 {
    font-family: Courier New, monospace;
    color: #333;
    margin: 0;
}
label[for="hours"] {
    font-family: 'Rock Salt', cursive;
    font-size: 18px;
}
.intro{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #555;
    font-family:Courier New, monospace ;
    font-weight: bold;
}
p {
    font-size: 18px;
    text-align: center;
    color: #555;
}
.back-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007BFF;
    text-decoration: none;
    font-size: 16px;
}
.back-link:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #4CAF50; /* change this to the color you want */
    border-color: #4CAF50; /* change this to the color you want */
  }
  
  .btn-primary:hover {
    background-color: #3e8e41; /* change this to the hover color you want */
    border-color: #3e8e41; /* change this to the hover color you want */
  }


  .btn-primary:active {
    background-color: #4CAF50 !important; /* change this to the color you want */
    border-color: #4CAF50 !important; /* change this to the color you want */
  }
  
  .btn-primary:active:focus {
    background-color: #4CAF50; /* change this to the color you want */
    border-color: #4CAF50; /* change this to the color you want */
  }