<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header">
        <h1>Predict Student's Final Grade</h1>
    </div>
    <div class="intro">
        Welcome to our grade prediction website! This website uses machine learning algorithms to predict a student's final grade based on number of hours studied.
    </div>
    <div class="container">
        <form action="/predict" method="POST">
            <label for="hours">Enter the number of hours studied:</label><br>
            <input type="text" id="hours" name="hours" required><br><br>
            <input type="submit" value="Predict" class="btn btn-primary">
        </form>
        <br>
        {% if prediction_text %}
            <h2>{{ prediction_text }}</h2>
        {% endif %}
    </div>
   
</body>
</html>
